.full-page{
  background: url('../assets/pexels-pixabay-210144.jpg') center/cover;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 30px 40px;
}

form {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

.input-pair {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Add this to evenly space the input boxes */
  margin-bottom: 20px;
}

.input-box {
  display: flex;
  align-items: center;
  flex: 1; /* Add this to make the input boxes occupy equal width */
  margin-bottom: 10px; /* Adjust margin for better spacing */
}

.input-box input {
  width: 100%; /* Make the input boxes occupy the entire width of the parent */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-box input::placeholder {
  color: #888;
}

.input-box input:focus {
  outline: none;
  border-color: #007bff;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  height: 45px;
}

.button button:hover {
  background-color: #0056b3;
}

.input-box .icon {
  font-size: 25px;
}
