.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
    background: url('../assets/Vande_Bharat_Express_around_Mumbai.jpg') center/cover;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 30px 40px;
}

.book form {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

.pair {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 100%;
}

.box label {
    margin-bottom: 5px;
}

.box input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.box input::placeholder {
    color: #888;
}

.box input:disabled {
    background-color: #f0f0f0;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
}


.button button:hover {
    background-color: #0056b3;
}